<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.3.xsd">

<!-- Definição para textEditor bean -->
	<bean id="textEditor"
		class="com.tutorialspoint.springframework.autowiring.byname.TextEditor" autowire="byName">
		<!--  <property name="spellChecker" ref="spellCkecker" />-->
		<property name="name" value="Generic Text Editor" />
	</bean>
	
	<!-- Definição para spellChecker bean -->
	<bean id="spellChecker"
		class="com.tutorialspoint.springframework.autowiring.byname.SpellChecker">
	</bean>
	
</beans>
