<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans-4.3.xsd
	http://www.springframework.org/schema/context 
	http://www.springframework.org/schema/context/spring-context-4.3.xsd">

	<context:annotation-config />

 <!--  @PreDestroy PostConstruct -->
<bean id="helloWorld"
class="com.tutorialspoint.springframework.annotation.postconstructorpredestroy.HelloWorld"
init-method="init" destroy-method="destroy">

<property name="message" value="Hello World!"/>

</bean>
 
 <!-- @Resource 
<bean id="textEditor"
class="com.tutorialspoint.springframework.annotation.resource.TextEditor" autowire="byName">

<property name="name" value="Generic Text Editor"/>

</bean>

<bean id="spell" class="com.tutorialspoint.springframework.annotation.resource.SpellChecker">
</bean>
-->

</beans>
